/* Horizontal Navbar CSS */

.navbar {
	display: flex;
	align-items: center;
	overflow: hidden;
	background-color: #ece5f0;
	width: 100%;
	height: 100px;
}

.navbar img {
	float: left;
	height: 50%;
	margin-left: 25px;
	margin-right: 25px;
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .active {
	color: #e98a15;
}

.subnav a {
	float: left;
	font-size: 24px;
	font-family: agenda-one,sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	color: #000;
	padding: 14px 16px;
	background-color: inherit;
	text-decoration: none;
}

.subnav button {
	float: left;
	color: #000;
	margin-top: 14px;
	margin-bottom: 14px;
	text-decoration: none;
}

.subnav a:hover {
	color: #e98a15;
	animation: backgroundFade1 linear 0.1s;
}

@keyframes backgroundFade1 {
	from {color: #000;}
	to {color: #e98a15;}
}

.subnav-content {
	display: none;
	position: absolute;
	top: 108px;
	left: 0;
	background-color: #ece5f0;
	width: 100%;
}

.subnav-content a {
	font-size: 24px;
	color: #000;
	font-family: agenda-one,sans-serif;
	font-weight: 700;
	letter-spacing: 2px;
	text-decoration: none;
}

.subnav:hover > .subnav-content {
	display: block;
	animation: fadeIn linear 0.1s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.subnav-content a:hover {
	background-color: #ccc;
}

.max-layer {
	display: none;
}

.isDisabled {
	pointer-events: none;
}

.drag-over {
	border: dashed 2px red;
}