/* Horizontal Navbar CSS */

.navbar {
	overflow: hidden;
	background-color: #bbb;
	width: 100%;
	height: 46px;
}

.navbar img {
	float: left;
	height: 100%;
}

.active {
	color: #fff;
}

.subnav {
	float: left;
	overflow: hidden;
}

.subnav .active {
	color: #fff;
}

.subnav a {
	float: left;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	font-family: inherit;
	background-color: inherit;
	margin: 0;
	text-decoration: none;
}

.subnav button {
	float: left;
	color: #000;
	text-align: center;
	margin-top: 14px;
	margin-bottom: 14px;
	text-decoration: none;
}

.subnav a:hover {
	background-color: #ccc;
	animation: backgroundFade1 linear 0.2s;
}

@keyframes backgroundFade1 {
	from {background-color: #bbb;}
	to {background-color: #ccc;}
}

.subnav-content {
	display: none;
	position: absolute;
	top: 46px;
	left: 0;
	background-color: #bbb;
	width: 100%;
}

.subnav-content a {
	float: left;
	font-size: 16px;
	color: #000;
	text-align: center;
	text-decoration: none;
}

.subnav:hover > .subnav-content {
	display: block;
	animation: fadeIn linear 0.1s;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.subnav-content a:hover {
	background-color: #ccc;
}

.max-layer {
	display: none;
}

.isDisabled {
	pointer-events: none;
}

.drag-over {
	border: dashed 2px red;
}